In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
df1=pd.read_csv(r"C:\Users\Adithya D\Downloads\order_line\order_line.csv")
df2=pd.read_csv(r"C:\Users\Adithya D\Downloads\order_line\order_info.csv")

df=pd.merge(df1,df2,on='Order ID',how='inner')

In [3]:
df.head()

,Order ID,Product ID,SKU ID,Category,Quantity,Price per Unit,Customer ID,Warehouse ID,Customer Age,Customer Gender,Date
0,2664,Product_099,SKU_053,Beauty & Personal Care,2,75.67,CUST094,WH005,56,Female,2023-02-05
1,2664,Product_138,SKU_087,Toys & Games,4,636.36,CUST094,WH005,56,Female,2023-02-05
2,2664,Product_190,SKU_831,Groceries & Gourmet Food,4,82.44,CUST094,WH005,56,Female,2023-02-05
3,5028,Product_156,SKU_524,Beauty & Personal Care,3,57.16,CUST345,WH001,52,Female,2023-04-11
4,9143,Product_126,SKU_651,Beauty & Personal Care,2,35.05,CUST585,WH004,52,Male,2023-04-12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24885 entries, 0 to 24884
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         24885 non-null  int64
 1   Product ID       24885 non-null  object
 2   SKU ID           24885 non-null  object
 3   Category         24885 non-null  object
 4   Quantity         24885 non-null  int64
 5   Price per Unit   24885 non-null  float64
 6   Customer ID      24885 non-null  object
 7   Warehouse ID     24885 non-null  object
 8   Customer Age     24885 non-null  int64
 9   Customer Gender  24885 non-null  object
 10  Date             24885 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.1+ MB

In [5]:
unique_ids=df['Customer ID'].nunique()
print(unique_ids)

1000

In [6]:
orders_per_customer=df.groupby('Customer ID')['Order ID'].nunique()

In [7]:
print(orders_per_customer)

Customer ID
CUST001     8
CUST002    10
CUST003     8
CUST004     3
CUST005     5
           ..
CUST995     4
CUST996     2
CUST997     9
CUST998     7
CUST999     9
Name: Order ID, Length: 1000, dtype: int64

In [8]:
Data=df.copy()

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24885 entries, 0 to 24884
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         24885 non-null  int64
 1   Product ID       24885 non-null  object
 2   SKU ID           24885 non-null  object
 3   Category         24885 non-null  object
 4   Quantity         24885 non-null  int64
 5   Price per Unit   24885 non-null  float64
 6   Customer ID      24885 non-null  object
 7   Warehouse ID     24885 non-null  object
 8   Customer Age     24885 non-null  int64
 9   Customer Gender  24885 non-null  object
 10  Date             24885 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.1+ MB

In [10]:
Data['order_value']=Data['Price per Unit']*Data['Quantity']

In [11]:
Data.describe()

           Order ID      Quantity  Price per Unit  Customer Age   order_value
count  24885.000000  24885.000000    24885.000000  24885.000000  24885.000000
mean    4983.313683      3.008037      470.179418     41.965521   1411.986825
std     2882.528726      1.411261      298.329986     13.598892   1188.548432
min        1.000000      1.000000       20.000000     18.000000     20.070000
25%     2478.000000      2.000000      191.050000     30.000000    430.550000
50%     4987.000000      3.000000      460.130000     42.000000   1024.920000
75%     7457.000000      4.000000      731.990000     53.000000   2121.090000
max    10000.000000      5.000000      999.960000     65.000000   4999.300000

In [12]:
Data.head()

,Order ID,Product ID,SKU ID,Category,Quantity,Price per Unit,Customer ID,Warehouse ID,Customer Age,Customer Gender,Date,order_value
0,2664,Product_099,SKU_053,Beauty & Personal Care,2,75.67,CUST094,WH005,56,Female,2023-02-05,151.34
1,2664,Product_138,SKU_087,Toys & Games,4,636.36,CUST094,WH005,56,Female,2023-02-05,2545.44
2,2664,Product_190,SKU_831,Groceries & Gourmet Food,4,82.44,CUST094,WH005,56,Female,2023-02-05,329.76
3,5028,Product_156,SKU_524,Beauty & Personal Care,3,57.16,CUST345,WH001,52,Female,2023-04-11,171.48
4,9143,Product_126,SKU_651,Beauty & Personal Care,2,35.05,CUST585,WH004,52,Male,2023-04-12,70.10

In [13]:
# Group by Customer ID and calculate average order_value
avg_order_value_per_customer = Data.groupby('Customer ID', as_index=False)['order_value'].mean()

# Rename the column
avg_order_value_per_customer.rename(columns={'order_value': 'Average Order Value'}, inplace=True)

print(avg_order_value_per_customer)

    Customer ID  Average Order Value
0       CUST001          1348.963721
1       CUST002          1353.771034
2       CUST003          1187.813929
3       CUST004          1382.176667
4       CUST005          1526.746667
..          ...                  ...
995     CUST995          1498.250769
996     CUST996          1559.702000
997     CUST997          1521.431957
998     CUST998          1255.387241
999     CUST999          1442.328182

[1000 rows x 2 columns]

In [14]:
#  Group by Customer ID and calculate average order_value
avg_order_value_per_customer.rename(columns={'order_value': 'Average Order Value'}, inplace=True)

#  Get unique age and gender per customer (assuming they are constant per customer)
customer_info = Data[['Customer ID', 'Customer Age', 'Customer Gender']].drop_duplicates(subset='Customer ID')

#  Merge average order value with customer info
merged_df = pd.merge(avg_order_value_per_customer, customer_info, on='Customer ID', how='left')

#  Display result
print(merged_df.head())

  Customer ID  Average Order Value  Customer Age Customer Gender
0     CUST001          1348.963721            24          Female
1     CUST002          1353.771034            35          Female
2     CUST003          1187.813929            26            Male
3     CUST004          1382.176667            25            Male
4     CUST005          1526.746667            29          Female

In [15]:
new_data=merged_df[['Customer Age', 'Customer Gender','Average Order Value']].drop_duplicates(subset=['Customer Age','Customer Gender'])
print(new_data)

     Customer Age Customer Gender  Average Order Value
0              24          Female          1348.963721
1              35          Female          1353.771034
2              26            Male          1187.813929
3              25            Male          1382.176667
4              29          Female          1526.746667
..            ...             ...                  ...
342            58          Female          1291.512667
348            43            Male          1424.547000
350            24            Male           730.531333
504            65          Female          1369.595833
555            44            Male          1346.532500

[96 rows x 3 columns]

## REGRESSION

In [16]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd

In [17]:
# One-hot encode the 'gender' column
data_encoded = pd.get_dummies(new_data, columns=['Customer Gender'], drop_first=True)
print(data_encoded.columns)

Index(['Customer Age', 'Average Order Value', 'Customer Gender_Male'], dtype='object')

In [18]:
X = data_encoded[['Customer Age', 'Customer Gender_Male']]  
y = data_encoded['Average Order Value']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(alpha=1.0),
    'Lasso Regression': Lasso(alpha=0.1),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Random Forest': RandomForestRegressor(random_state=42)
}

In [21]:
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    results[name] = mse


results_sorted = dict(sorted(results.items(), key=lambda item: item[1]))

In [22]:
print("Model Performance (lower MSE is better):")
for model, mse in results_sorted.items():
    print(f"{model}: {mse:.2f}")

best_model = min(results_sorted, key=results_sorted.get)
print(f"\nBest Performing Model: {best_model}")

Model Performance (lower MSE is better):
Ridge Regression: 91880.18
Lasso Regression: 91942.85
Linear Regression: 91953.21
Random Forest: 114159.10
Decision Tree: 151423.44

Best Performing Model: Ridge Regression

# Pickling the best model

In [23]:
import pickle
best_model_object = models['Ridge Regression']

with open("Ridge Regression_model.pkl", "wb") as f:
    pickle.dump(best_model_object, f)